thead {
 background-color: #307dff;
 color: #fff;

}

thead th {
 padding: 15px;
 margin: 15px;
}

tr {
 border: 1px solid #307dff;
 border-radius: 5px;
 margin: 5px;
 padding: 5px;
}

td {
 padding: 10px;

}

button {
 /* margin: 5px; */
}

@media only screen and (max-width: 425px) {

 thead th {
  padding: 5px;
  margin: 5px;
 }

 tr {
  border: 1px solid #307dff;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
 }

 td {
  padding: 5px;

 }


}