.nav-section {
 font-size: 18px;
}

.nav-logo img {
 width: 180px;
 height: 60px;
}

.nav-section .links {
 padding: 10px;

}

.admin-btn {
 color: #fff;
 /* font-size: 16px; */
 background-color: #307dff;
 /* border-radius: 5px;
 padding: 6px; */

}

/* //leptop */
@media only screen and (max-width: 1200px) {
 /* .nav-logo img {
  width: 200px;
  height: 50px;
 } */

 .nav-section .links {
  padding: 5px;
  font-size: 18px;
 }
}

/* tablet  */
@media only screen and (max-width: 768px) {
 /* .nav-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 } */

 /* .nav-section .nav-link {
  display: flex;
  flex-direction: column;
 } */

 .nav-logo img {
  width: 150px;
  height: 60px;
 }

 .nav-section .links {
  padding: 3px;
  font-size: 15px;
 }
}

/* mobile */
@media only screen and (max-width: 425px) {
 .nav-section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
 }


 .nav-logo {
  padding-right: 0rem;
 }

 /* .nav-section .nav-link {
  display: flex;
  flex-direction: column;
 } */

 .nav-logo img {
  width: 150px;
  height: 50px;
 }

 .nav-section .links {
  padding: 3px;
  font-size: 16px;
 }

 .admin-btn {
  color: #fff;
  font-size: 12px;
  background-color: #307dff;
  /* padding: 6px;  */

 }
}