.card-brands{
background-color: #F6F7FB;
}
img {
 width: 120px;
 height: 120px;
 padding: 20px;
 display: block;
 margin-left: auto;
 margin-right: auto;

}

.slider img:hover {
 transform: scale(1.1);
 transition: 9ms;
}

.slick-prev {

 width: 25px !important;
 height: 25px !important;
 border-radius: 40% !important;
 left: 1% !important;
 z-index: 1;
}

.slick-next {
 right: 1% !important;
 z-index: 1;
}

.slick-prev:before,
.slick-next:before {
 color: #307dff !important;
}


.slider {}

@media only screen and (max-width: 425px) {
 .carBrands {
  padding: 30px;
 }


 img {
  width: 80px;
  height: 80px;
  padding: 10px;
 }

}