.heroBanner {
  width: 100%;
  height: 100%;
  position: relative;
}

.heroBanner {
  width: 100%;
  height: 100%;
  position: relative;
}

.heroBanner-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.5)
}


.heroData {
  /* display: block; */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(0deg, rgba(13, 118, 128, 0.234), rgba(10, 45, 44, 0.679));
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.hero-btn .ExploreMore-btn {
  background-color: #307dff;
  border: 2px solid #307dff;

  /*   padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px; */
}

.hero-btn .Warehouses-btn {
  color: #ffffff;
  border: 2px solid #307dff;


}


.Warehouses-btn:hover {
  color: #307dff;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  transition: 0.3s;
  transition-delay: 0.1s;
  /* border: none; */

}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 25px;
  }

  .hero-btn {
    padding: 2px;
  }

  .btn2 {
    padding-left: 20px;
  }

  .hero-btn button {
    padding: 5px;
    font-size: 15px;
    font-weight: normal;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 15px;
  }

  .hero-btn {
    padding: 2px;
  }

  .btn2 {
    padding-left: 10px;
  }

  .hero-btn button {
    padding: 5px;
    font-size: 10px;
    font-weight: normal;
  }
}