.vehicles {
 width: 90%;
 opacity: 0.8;
}

.vehicles:hover {
 /* width: 95%; */
 opacity: 10;
 /* transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
 transform: scale(1.02); */
}

.vehicles {
 width: 85%;
 /* border: 1px solid #307dff; */
 opacity: 0.9;
 /*  */
 box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.vehicles-img img {
 width: 150px;
 height: 120px;
}

.vehicles-img img:hover {
 transform: scale(1.09);
 transition: 0.2s;
}

.vehicles-btn {
 background-color: #307dff;
}

/* tablet  */
@media only screen and (max-width: 768px) {
 .company {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
 }


}

/* mobile  */
@media only screen and (max-width: 425px) {
 .company {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
 }

 .vehicles {
  justify-content: center;
  text-align: center;
 }

 .vehicles img {
  display: block;
  margin: 0 auto;

 }

 .vehicles-img img {
  width: 250px;
  height: 200px;
 }

 .vehicles-img img {
  width: 150px;
  height: 110px;
 }

 .vehicles-info h4 {
  /* font-size: 15px !important; */
 }

 .vehicles {
  flex-direction: column;
 }
}