.logIn-blob img {
 width: 550px;
 height: 550px;
}

.logIn-btn img {
 width: 60px;
 height: 50px;
 padding: 0;
 margin: 0;
}

.logIn-btn .googleIcon {
 width: 80px;
 height: 80px;
}

.from-input label,
.op-login,
h2,
p,
.google {
 padding-left: 12px;

}

input .Submit:focus {
 outline: none;
 outline-offset: none;
}

.op-login .line {
 height: 2px;
 background-color: gray;
}