.footer-container {
 color: rgba(255, 255, 255, 0.887);
 background-color: #307dff;
}

.footer-content li {
 list-style-type: none;
 text-decoration: none;
}

.footer-content img {
 width: 70px;
 height: 80px;
}

li:hover {
 color: #fff;
}

@media only screen and (max-width: 425px) {
 .footer-content img {
  width: 40px;
  height: 50px;
 }
}